body {
  background-repeat: no-repeat;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-position: top right, bottom left;
  height: 100vh;
  background-color: hsl(240, 78%, 98%);
  font-family: "montserrat";
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* height: 100vh; */
  margin-top: 5em;
}

#price-checkbox {
  display: none;
}

.price-button {
  margin: 0 1rem;
}
.toggle-label {
  cursor: pointer;
  width: 50px;
  height: 30px;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  display: block;
  border-radius: 100rem;
  position: relative;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s;
}

#price-checkbox:checked + .toggle-label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.price-frequency {
  display: flex;
  justify-content: space-between;
  color: hsl(234, 14%, 74%);
  align-items: center;
  margin: 1rem 0;
}

.price-title {
  display: block;
  color: hsl(233, 13%, 49%);
}

.cards {
  display: flex;
  justify-content: stretch;
  align-self: center;
  color: hsl(233, 13%, 49%);
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin: 4rem 0;
  width: 20em;
}

.card-name {
  color: hsl(233, 13%, 49%);
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-price-number {
  font-size: 75px;
  color: hsl(232, 13%, 33%);
}

.card-price-sign {
  font-size: 40px;
  color: hsl(232, 13%, 33%);
}

.card:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover > .card-name,
.card:hover > .card-price > .card-price-number,
.card:hover > .card-price > .card-price-sign {
  color: white;
}

.card {
  transition: all 0.2s ease-in-out;
}

.card:hover > .card-button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.card-button {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  border: 0;
  margin-top: 20px;
}

.card:hover > .line-hr {
  border: 1px solid hsl(234, 14%, 74%);
}

@media (max-width: 375px) {
  .cards {
    flex-direction: column;
    gap: 0px;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
  }

  .card:hover {
    transform: none;
  }
}

hr {
  border: 1px solid hsl(240, 78%, 98%);
}
